<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="albumMapper">

    <!-- 앨범 상세 정보 조회 쿼리 -->
	<select id="getInfo" parameterType="com.wizontech.kct.entity.AlbumVo" resultType="java.util.Map">
		SELECT al.*, si.SINGER_NAME, DATE_FORMAT(al.RELEASE_DATE, '%Y/%m/%d') AS R_DATE
		FROM ALBUM_INF al, SINGER_INF si
		WHERE al.SINGER_ID=si.SINGER_ID
			AND al.ALBUM_ID=#{albumId}
			AND al.USE_YN = '1'
            AND al.DEL_YN = '0'
	</select>

	<!-- 앨범 수록족 정보 조회 쿼리 -->
	<select id="getSong" parameterType="com.wizontech.kct.entity.AlbumVo" resultType="java.util.Map">
	    SELECT so.SONG_ID, so.SONG_TITLE, so.SINGER_ID, so.ALBUM_ID, si.SINGER_NAME, so.BUY_CNT, so.RELEASE_DATE
		FROM 
		(
				SELECT I.SONG_ID, I.SONG_TITLE, I.SINGER_ID, I.ALBUM_ID, I.BUY_CNT, I.GENRE_ID, I.RELEASE_DATE
				FROM 
				(
					SELECT SONG_ID, SONG_TITLE, SINGER_ID, ALBUM_ID, BUY_CNT, GENRE_ID, RELEASE_DATE, USE_YN
					FROM SONG_INF
					WHERE USE_YN = 1
        				AND DEL_YN = 0
						AND ALBUM_ID = #{albumId}
				) I
  		      INNER JOIN SONG_VCODE_MAP M
   		     ON I.SONG_ID = M.SONG_ID
				INNER JOIN SONG_VCODE_INF V
  		      ON M.VCODE = V.VCODE
 		       AND M.SONG_PART = V.SONG_PART
   		     WHERE M.SONG_PART &lt; 10
		     	AND V.USE_YN = 1
				AND V.FILE_YN = 1
				AND V.DEL_YN = 0
				GROUP BY I.SONG_ID
		) so
		LEFT OUTER JOIN ALBUM_INF al
		ON so.ALBUM_ID = al.ALBUM_ID
		INNER JOIN SINGER_INF si
		ON so.SINGER_ID = si.SINGER_ID
		ORDER BY so.BUY_CNT DESC
	</select>
</mapper>