<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mainMapper">

	<select id="getAlbum" parameterType="com.wizontech.kct.entity.MainVo" resultType="java.util.Map">
		SELECT al.*, si.SINGER_NAME
		FROM ALBUM_INF al, SINGER_INF si
		WHERE al.SINGER_ID = si.SINGER_ID
			AND al.USE_YN = '1'
            AND al.DEL_YN = '0'
            AND al.CRT_DATE &lt; CURRENT_DATE()
		ORDER BY al.RELEASE_DATE DESC
		LIMIT ${limit}
	</select>

	<select id="getSong" parameterType="com.wizontech.kct.entity.MainVo" resultType="java.util.Map">
	    SELECT so.SONG_ID, so.SONG_TITLE, so.SINGER_ID, so.ALBUM_ID, si.SINGER_NAME, so.BUY_CNT, so.RELEASE_DATE
		FROM 
		(
				SELECT I.SONG_ID, I.SONG_TITLE, I.SINGER_ID, I.ALBUM_ID, I.BUY_CNT, I.GENRE_ID, I.RELEASE_DATE
				FROM 
				(
					SELECT SONG_ID, SONG_TITLE, SINGER_ID, ALBUM_ID, BUY_CNT, GENRE_ID, RELEASE_DATE, USE_YN
					FROM SONG_INF
					WHERE USE_YN = 1
        				AND DEL_YN = 0
					<if test="type == 2">	
						AND GENRE_ID = #{genre}
					</if>
					<if test="type != 1">
						ORDER BY BUY_CNT DESC
					</if>
					<if test="type == 1">
						ORDER BY RELEASE_DATE DESC
					</if>
					LIMIT 1500
				) I
  		     INNER JOIN SONG_VCODE_MAP M
   		     ON I.SONG_ID = M.SONG_ID
				INNER JOIN SONG_VCODE_INF V
  		      ON M.VCODE = V.VCODE
 		       AND M.SONG_PART = V.SONG_PART
   		     WHERE M.SONG_PART &lt; 10
   		     	AND V.USE_YN = 1
				AND V.FILE_YN = 1
				AND V.DEL_YN = 0
				GROUP BY I.SONG_ID
		) so
		LEFT OUTER JOIN ALBUM_INF al
		ON so.ALBUM_ID = al.ALBUM_ID
		INNER JOIN SINGER_INF si
		ON so.SINGER_ID = si.SINGER_ID
		<if test="type == 2">	
		WHERE so.GENRE_ID = #{genre}
		</if>
		<if test="type != 1">
		ORDER BY so.BUY_CNT DESC
		</if>
		<if test="type == 1">
		ORDER BY so.RELEASE_DATE DESC
		</if>
		LIMIT ${limit}
	</select>
</mapper>